In [47]:
import quandl
quandl.ApiConfig.api_key = "KxKMd8dsHx1sWnaGj6_U"
import numpy as np
import matplotlib as plt
import pandas as pd
import keras
from sklearn.preprocessing import MinMaxScaler

In [48]:
def get_monthly_close_prices_ticker(ticker,start_date,end_date):
    
    df = quandl.get_table('SHARADAR/SEP',ticker=ticker,date={'gte':start_date,'lte':end_date}, qopts={'columns':['ticker','date','close']},paginate=True).fillna(value=0)
    close = df.pivot(index='date', columns='ticker', values='close')
    monthly = close.resample('M').apply(lambda x: x[-1])
    #.agg(lambda x: x[-1])
    return monthly

In [49]:
monthly_prices = get_monthly_close_prices_ticker('A','2009-13-31','2019-01-01')

In [50]:
#monthly_prices

In [51]:
#quandl.get_table('SHARADAR/SEP',date={'gte':'2018-06-30','lte':'2019-01-01'}, qopts={'columns':['ticker','date','close']},paginate=True).fillna(value=0)

In [52]:
def get_monthly_returns(monthly_prices):
    """
    Compute returns for each ticker and date in close.
    
    Parameters
    ----------
    close : DataFrame
        Close prices for each ticker and date
    
    Returns
    -------
    returns : DataFrame
        Returns for each ticker and date
    """
        

    #.agg(lambda x: x[-1])
    monthly_returns = (monthly_prices - monthly_prices.shift(1))/monthly_prices.shift(1).fillna(value=0)
    
    
    return monthly_returns

In [53]:
df1 = get_monthly_returns(monthly_prices)

In [54]:
df1.head()

ticker             A
date
2010-01-31       NaN
2010-02-28  0.122369
2010-03-31  0.093134
2010-04-30  0.054376
2010-05-31 -0.107557

In [55]:
df1 = df1.iloc[ 1: , : ]

In [56]:
df1.reset_index(inplace=True)

In [57]:
df1.head()

ticker       date         A
0      2010-02-28  0.122369
1      2010-03-31  0.093134
2      2010-04-30  0.054376
3      2010-05-31 -0.107557
4      2010-06-30 -0.121446

In [58]:
def get_factor_data_ticker(ticker,start_date,end_date):
    
    df = quandl.get_table('SHARADAR/SF1',ticker=ticker,dimension='ARQ',calendardate={'gte':start_date, 'lte':end_date}, paginate=True).fillna(value=0)

    
    return df

In [59]:
df2 = get_factor_data_ticker('A','2009-13-31','2019-01-01')

In [60]:
df2.head()

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,A,ARQ,2018-12-31,2019-03-05,2019-01-31,2019-03-05,-381000000,8952000000,0,3712000000,...,317515869,318000000,322000000,4.038,5253000000,0,-256000000,0,16.519,2617000000
1,A,ARQ,2018-09-30,2018-12-20,2018-10-31,2019-03-05,-408000000,8541000000,0,3848000000,...,318533054,318000000,322000000,4.069,5077000000,0,49000000,0,15.965,2677000000
2,A,ARQ,2018-06-30,2018-08-30,2018-07-31,2019-03-05,-335000000,8349000000,0,3667000000,...,318769547,320000000,324000000,3.759,4901000000,0,6000000,0,15.316,2653000000
3,A,ARQ,2018-03-31,2018-05-31,2018-04-30,2019-03-05,-310000000,8784000000,0,4525000000,...,319952126,322000000,326000000,3.745,5852000000,0,22000000,0,18.174,3160000000
4,A,ARQ,2017-12-31,2018-03-06,2018-01-31,2019-03-05,-269000000,8698000000,0,4397000000,...,322476579,323000000,323000000,3.749,5724000000,0,553000000,0,17.721,3036000000

In [61]:
df2['calendardate'] = pd.to_datetime(df2['calendardate']).dt.strftime("%Y-%m-%d")

In [62]:
def add_returns(row, df):
    c_date = row['calendardate']
    ticker = row['ticker']
    result = 0.0
    value = df.loc[df['date'] == c_date]
    if not value.empty:
        if ticker in value.columns:
            result = value[ticker].values[0]
    return result
df2['results'] = df2.apply(lambda row: add_returns(row, df1), axis=1)

In [63]:
df2 = df2.sort_values('calendardate')

In [64]:
corr_matrix = df2.corr().abs()

In [65]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [66]:
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

In [67]:
df2 = df2.drop(df2[to_drop], axis=1)

In [68]:
df2.shape

(36, 72)

In [69]:
dataset = df2.set_index('calendardate')

In [70]:
df_numbers = dataset.drop(columns=['ticker','dimension','reportperiod','lastupdated','datekey'])

In [71]:
#pd.options.display.max_columns = None
#display(df_numbers)

In [72]:
df_numbers.shape

(36, 66)

In [73]:
#df_numbers[:36]

In [131]:
dataset = df_numbers.values
dataset

array([[-2.39000000e+08,  7.76700000e+09,  0.00000000e+00, ...,
         0.00000000e+00,  3.00300000e+09,  9.31341386e-02],
       [-2.25000000e+08,  9.10000000e+09,  0.00000000e+00, ...,
         0.00000000e+00,  2.81800000e+09, -1.21446230e-01],
       [-8.80000000e+07,  9.69600000e+09,  0.00000000e+00, ...,
         0.00000000e+00,  3.08600000e+09,  2.37300704e-01],
       ...,
       [-3.35000000e+08,  8.34900000e+09,  0.00000000e+00, ...,
         0.00000000e+00,  2.65300000e+09, -1.29198966e-03],
       [-4.08000000e+08,  8.54100000e+09,  0.00000000e+00, ...,
         0.00000000e+00,  2.67700000e+09,  4.44181226e-02],
       [-3.81000000e+08,  8.95200000e+09,  0.00000000e+00, ...,
         0.00000000e+00,  2.61700000e+09, -6.75881133e-02]])

In [132]:
#dataset
36 * 0.9

32.4

In [133]:
train = dataset[0:32,:]
valid = dataset[32:,:]

In [134]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(dataset)

In [135]:
dataset[:32,65:].shape

(32, 1)

In [136]:
x_train = dataset[:32,:65]
y_train = dataset[:32,-1]

In [137]:
x_train.shape

(32, 65)

In [139]:
y_train

array([ 0.09313414, -0.12144623,  0.2373007 ,  0.18303826,  0.0641635 ,
        0.02486465, -0.15242745, -0.06853333,  0.02040348, -0.03492376,
        0.03471475,  0.06920867,  0.01181292, -0.05918592,  0.0988422 ,
        0.06757514, -0.01774109,  0.00878117, -0.00314906, -0.04211511,
       -0.01563611, -0.06336489, -0.05453043, -0.00023912,  0.0669344 ,
       -0.0333406 ,  0.00234142,  0.03592542,  0.03060429, -0.01706994,
       -0.00803461, -0.03278452])

In [140]:
x_test = dataset[32:,65:]

In [141]:
y_test = dataset[32:,-1]

In [142]:
#df_numbers.iloc[:32,-1]

In [121]:
#importing required libraries
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM

In [143]:
x_train.shape

(32, 65)

In [ ]:
32,1,65

In [148]:
#x_train = np.reshape(x_train, (1,x_train.shape[0],x_train.shape[1]))
x_train = np.reshape(x_train, (1,32,65))
y_train

In [150]:
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(32,65)))
model.add(LSTM(units=50))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(x_train, y_train, epochs=1, batch_size=1, verbose=2)

ValueError: Input arrays should have the same number of samples as target arrays. Found 1 input samples and 32 target samples.

In [124]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 65, 50)            10400
_________________________________________________________________
lstm_4 (LSTM)                (None, 50)                20200
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 51
=================================================================
Total params: 30,651
Trainable params: 30,651
Non-trainable params: 0
_________________________________________________________________

In [125]:
x_test = np.reshape(x_test, (x_test.shape[0],x_test.shape[1],1))

In [128]:
x_train.shape

(32, 65, 1)

In [126]:
returns = model.predict(x_test)
#dataset[:32,:65]
#closing_price = scaler.inverse_transform(closing_price)

ValueError: Error when checking input: expected lstm_3_input to have shape (65, 1) but got array with shape (1, 1)

In [127]:
x_test.shape

(4, 1, 1)

In [68]:
X_test.shape

(32, 66, 1)

In [61]:
closing_price

array([[-0.01883256],
       [-0.01451773],
       [-0.02202526],
       [-0.01609451],
       [ 0.02140378],
       [-0.01338538],
       [-0.0158553 ],
       [-0.01755404],
       [-0.01826574],
       [-0.01654363],
       [-0.01990165],
       [-0.01153719],
       [-0.01532416],
       [-0.01924205],
       [-0.02658634],
       [-0.01720296],
       [-0.01008006],
       [ 0.00921216],
       [ 0.00388581],
       [ 0.01295887],
       [ 0.0184966 ],
       [ 0.01441005],
       [-0.00729515],
       [ 0.00420687],
       [ 0.01450097],
       [ 0.00068078],
       [-0.00863087],
       [ 0.01441225],
       [ 0.01988488],
       [ 0.00620365],
       [ 0.0080451 ],
       [ 0.02130242]], dtype=float32)

In [66]:
dataset[32:,-1]

array([ 0.18303826,  0.2373007 , -0.12144623,  0.09313414])

In [64]:
rms=np.sqrt(np.mean(np.power((valid[-1]-closing_price),2)))
rms

2020553174.3090613

In [ ]:
def build_model():
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(train.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model

In [ ]:
import numpy as np

k = 4
num_val_samples = len(train) // k
num_epochs = 100
all_scores = []
for i in range(k):
    print('processing fold #', i)
    val_data = train_data[i * num_val_samples: (i + 1) * num_val_samples]
    val_targets = train_targets[i * num_val_samples: (i + 1) * num_val_samples]

    partial_train_data = np.concatenate(
        [train_data[:i * num_val_samples],
         train_data[(i + 1) * num_val_samples:]],
        axis=0)
    partial_train_targets = np.concatenate(
        [train_targets[:i * num_val_samples],
         train_targets[(i + 1) * num_val_samples:]],
        axis=0)

    model = build_model()
    model.fit(partial_train_data, partial_train_targets,
              epochs=num_epochs, batch_size=1, verbose=0)
    val_mse = model.evaluate(val_data, val_targets, verbose=0)
    all_scores.append(val_mse)

In [ ]:
all_scores

In [ ]:
x_train, y_train = [], []
for i in range(60,len(train)):
    x_train.append(scaled_data[i,0])
    y_train.append(scaled_data[i,0])
x_train, y_train = np.array(x_train), np.array(y_train)

In [ ]:
x_train = np.reshape(x_train.shape[0],x_train.shape[1],1)

In [ ]:
x_train = np.reshape(x_train.shape[0],x_train.shape[1],1)

In [ ]:
x_train.shape[0]

In [ ]:
x_train.shape[1]

In [ ]:
from sklearn.preprocessing import scale

# Remove unimportant features (weekdays)
train_features = train_features.iloc[:, :-4]
test_features = test_features.iloc[:, :-4]

# Standardize the train and test features
scaled_train_features = scale(train_features)
scaled_test_features = scale(test_features)

# Plot histograms of the 14-day SMA RSI before and after scaling
f, ax = plt.subplots(nrows=2, ncols=1)
train_features.iloc[:, 2].hist(ax=ax[0])
ax[1].hist(scaled_train_features[:, 2])
plt.show()

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

# Create the model
model_1 = Sequential()
model_1.add(Dense(100, input_dim=scaled_train_features.shape[1], activation='relu'))
model_1.add(Dense(20, activation='relu'))
model_1.add(Dense(1, activation='linear'))

# Fit the model
model_1.compile(optimizer='adam', loss='mse')
history = model_1.fit(scaled_train_features, train_targets, epochs=25)